In [1]:
import pandas as pd
from pathlib import Path

io = r'..\Level 3 &VS scorecard.xlsx'

In [2]:
data = pd.read_excel(io, sheet_name = 'L3&VS-Assy',header=2)
data.head()

,#,区域,PQVC,指标分类1,指标名称,Data provider,Unnamed: 6,2020 Baseline,YTD,Jan,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,1,Assy,P,突破性指标,RIF,Jerry Sun,Plan,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Actual,0.29,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Assy,P,突破性指标,LTCFR,NaN,Plan,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,Actual,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,Assy,P,基础性指标,EI Engagement Index (%),NaN,Plan,NaN,0.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data = pd.read_excel(io, sheet_name = 'L3&VS-Assy',header=2,usecols=['指标分类1','指标名称', 'Jan', 'Feb', 'Mar', 'Apr','May','Jun','Jul','Aug','Sep','Oct'])
data.head()

,指标分类1,指标名称,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct
0,突破性指标,RIF,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,0,0,0,0,0,0,0,0,0,0
2,突破性指标,LTCFR,0,0,0,0,0,0,0,0,0,0
3,NaN,NaN,0,0,0,0,0,0,0,0,0,0
4,基础性指标,EI Engagement Index (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
data_1=data.copy()
data_1['指标名称']=data_1['指标名称'].fillna(method="ffill",limit=1)
print(data_1)

     指标分类1                                   指标名称       Jan       Feb  \
0    突破性指标                                    RIF         0         0
1      NaN                                    RIF         0         0
2    突破性指标                                  LTCFR         0         0
3      NaN                                  LTCFR         0         0
4    基础性指标                EI Engagement Index (%)       NaN       NaN
..     ...                                    ...       ...       ...
519    NaN  Total Variable Cost ($ rate per hour)       NaN       NaN
520  基础性指标                             OPACC ($M)   0.0003    0.0082
521    NaN                             OPACC ($M)   0.0003    0.0082
522    NaN                    Achieve NPI  target       NaN       NaN
523    NaN                    Achieve NPI  target       NaN       NaN

          Mar       Apr       May       Jun       Jul       Aug       Sep  \
0           0         0         0         0         0         0         0
1           0         0         0         0         0         0         0
2           0         0         0         0         0         0         0
3           0         0         0         0         0         0         0
4         NaN       NaN       NaN       NaN       NaN       NaN       NaN
..        ...       ...       ...       ...       ...       ...       ...
519       NaN       NaN       NaN       NaN       NaN       NaN       NaN
520   0.0218    0.0371    0.0525    0.0678    0.1567    0.2363    0.3507
521   0.0218    0.0371    0.0525        NaN       NaN       NaN       NaN
522       NaN       NaN       NaN       NaN       NaN       NaN       NaN
523       NaN       NaN       NaN       NaN       NaN       NaN       NaN

          Oct
0           0
1           0
2           0
3           0
4         NaN
..        ...
519       NaN
520   0.4200
521       NaN
522       NaN
523       NaN

[524 rows x 12 columns]

In [5]:
sheet_index1=data[data['指标分类1'].isin(['LHEX- SUB1'])].index.tolist()
print(sheet_index1)
sheet_index2=data[data['指标分类1'].isin(['LHEX- SUB2'])].index.tolist()
print(sheet_index2)
if len(sheet_index1)!=1:
    print('index error')

[64]
[130]

In [30]:
sheet1=data[:][sheet_index1[0]:sheet_index2[0]]
sheet2=data_1[:][sheet_index1[0]:sheet_index2[0]]
sheet2

,指标分类1,指标名称,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct
64,LHEX- SUB1,李保平,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,指标分类1,指标名称,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct
66,突破性指标,RIF(可记录伤害）,0,0,0,0,0,0,0,0,0,0
67,NaN,RIF(可记录伤害）,0,0,0,0,0,0,0,0,0,0
68,突破性指标,LTCFR（损失工作日）,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
125,NaN,OPACC ($M),0.0007,0.0014,0.0030,0.0046,0.0062,NaN,NaN,NaN,NaN,NaN
126,NaN,BVVGB BGB BGBGBB VBB FVBVBB VBBB VGVVB B VVFF...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,BVVGB BGB BGBGBB VBB FVBVBB VBBB VGVVB B VVFF...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,NaN,BVVGB BGB BGBGBB VBB FVBVBB VBBB VGVVB B VVFF...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,NaN,BVVGB BGB BGBGBB VBB FVBVBB VBBB VGVVB B VVFF...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
series_1=sheet1['指标名称'].isin(['RIF(可记录伤害）','LTCFR（损失工作日）','EI Engagement Index (%)','ABBS完成率','安全不符合项及时关闭率','Missed defect (YE)- Assy','Efficiency improvement-Assy','# of operators OT > 36H/M'])
print(series_1)

64     False
65     False
66      True
67     False
68      True
       ...
125    False
126    False
127    False
128    False
129    False
Name: 指标名称, Length: 66, dtype: bool

In [21]:
series_2=series_1.copy()
print(type(series_1))
for key,value in enumerate(series_1,start=sheet_index1[0]):
    if value==True:
        series_2[key]=False
        series_2[key+1]=True
#     print(key,value)
print(series_2)

<class 'pandas.core.series.Series'>
64     False
65     False
66     False
67      True
68     False
       ...
125    False
126    False
127    False
128    False
129    False
Name: 指标名称, Length: 66, dtype: bool

In [23]:
sheet1.loc[series_1,:]

,指标分类1,指标名称,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct
66,突破性指标,RIF(可记录伤害）,0,0,0,0,0,0,0,0,0,0
68,突破性指标,LTCFR（损失工作日）,0,0,0,0,0,0,0,0,0,0
70,基础性指标,EI Engagement Index (%),0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9,0.9
76,基础性指标,ABBS完成率,1,1,1,1,1,1,1,1,1,1
78,基础性指标,安全不符合项及时关闭率,0.95,0.95,0.95,0.95,0.95,0.95,0.95,0.95,0.95,0.95
94,突破性指标,Missed defect (YE)- Assy,1,1,1,1,1,1,1,1,1,1
112,突破性指标,Efficiency improvement-Assy,0,0,0.02,0.02,0.02,0.04,0.04,0.04,0.06,0.08
120,突破性指标,# of operators OT > 36H/M,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0

In [32]:
sheet3=sheet2.loc[series_2,:]
sheet3

,指标分类1,指标名称,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct
67,NaN,RIF(可记录伤害）,0,0,0,0,0,0,0,0,0,0
69,NaN,LTCFR（损失工作日）,0,0,0,0,0,0,0,0,0,0
71,NaN,EI Engagement Index (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,ABBS完成率,1,1,1,1,1,1,1,1,1,1
79,NaN,安全不符合项及时关闭率,1,1,1,1,1,1,1,1,1,1
95,NaN,Missed defect (YE)- Assy,0,1,1,1,4,1,1,1,1,2
113,NaN,Efficiency improvement-Assy,0,0,0.02,0.02,0.02,0.02,0.02,NaN,NaN,NaN
121,NaN,# of operators OT > 36H/M,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

In [48]:
sheet3.values

array([[nan, 'RIF(可记录伤害）', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [nan, 'LTCFR（损失工作日）', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [nan, 'EI Engagement Index (%)', nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan],
       [nan, 'ABBS完成率', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [nan, '安全不符合项及时关闭率', 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [nan, 'Missed defect (YE)- Assy', 0, 1, 1, 1, 4, 1, 1, 1, 1, 2],
       [nan, 'Efficiency improvement-Assy', 0, 0, 0.02, 0.02, 0.02, 0.02,
        0.02, nan, nan, nan],
       [nan, '# of operators OT > 36H/M', nan, nan, nan, nan, '0', nan,
        nan, nan, nan, nan]], dtype=object)

In [52]:
del sheet3['指标分类1']

KeyError: '指标分类1'

In [53]:
sheet3

,指标名称,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct
67,RIF(可记录伤害）,0,0,0,0,0,0,0,0,0,0
69,LTCFR（损失工作日）,0,0,0,0,0,0,0,0,0,0
71,EI Engagement Index (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,ABBS完成率,1,1,1,1,1,1,1,1,1,1
79,安全不符合项及时关闭率,1,1,1,1,1,1,1,1,1,1
95,Missed defect (YE)- Assy,0,1,1,1,4,1,1,1,1,2
113,Efficiency improvement-Assy,0,0,0.02,0.02,0.02,0.02,0.02,NaN,NaN,NaN
121,# of operators OT > 36H/M,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

In [56]:
for list in sheet3.values:
    if list[0]=='RIF(可记录伤害）':
        print('ok')
    elif list[0]=='RIF(可记录伤害）'
#     print(key,value)
# print(series_2)
# for i in enusheet3['Jan']

ok